<html>
  <head>
    <title>Example sign up page to test flask app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please signup</h1>
      <br>
      <form action="/userSignup" method="post">
        <input type="text" placeholder="Username" name="username" required>
         <input type="password" placeholder="Password" name="password" required>
         <button type="submit" >Login</button>
      </form>
    </div>
  </body>
</html>