<html>
  <head>
    <title>User information test page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <a href="/listUsers">List Users</a><br>
      <a href="/login">Login Page</a>
      <a href="/logout">Logout</a>
      <h1>User Information</h1>
      <br>
      <h3>User Name:</h3> {{ username }}
      <h3>First Name:</h3> {{ firstname }}
      <h3>Last Name:</h3> {{ lastname }}
      <h3>URL:</h3> {{ url }}
      <h3>Mobile Phone:</h3> {{ mobile_phone }}

      <form action="/editUserInfo" method="get">
        <button type="submit" >Edit Information</button>
      </form>
    </div>
  </body>
</html>