{% extends "layout.html" %}
{% block content %}
 <!---------------------------------- MAIN ------------------------------------>
    <main>
      <div class="container">
        <section class="mt-5">
          <figure
            class="
              d-flex
              flex-column flex-md-row
              justify-content-center
              align-items-center
            "
          >
            <div class="image-container align-self-center me-3">
              <img
                src="{{ user.image_url }}"
                alt="personal photo"
                class="personal-photo"
                width="70%" height="70%">
                <figcaption>
                  <h1 class="text-center text-md-start">Hi, I am {{ user.fullname }}. {{ user.about_person }} </h1>
              </figcaption>
            </div>

          </figure>
        </section>
        <section>
          <form class="mx-auto mt-5" action="/donate/{{person_id}}" method="post">
          <div class="mb-3">
              <label for="amount" class="form-label">How much would you like to donate?</label>
              <input
                type="number"
                class="form-control"
                id="amount"
                placeholder="10.00"
                min="1"
                name="amount"
                required
              />
            </div>

            <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
            <input type="hidden" id="host_id" name="host_id" value="{{ host_id }}">

            <div id="paypal-button"></div>

            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <script>
                var CREATE_PAYMENT_URL  = 'http://' +  document.getElementById("host_id").value + '/payment/'; // MUST BE CURRENT LOCAL URL
                var EXECUTE_PAYMENT_URL  = 'http://' +  document.getElementById("host_id").value + '/execute/'; // MUST BE CURRENT LOCAL URL

                console.log(CREATE_PAYMENT_URL)

                paypal.Button.render({

                    env: 'sandbox', // Or 'sandbox'

                    commit: true, // Show a 'Pay Now' button

                    payment: function() {
                        var amount = document.getElementById("amount").value;
                        var user_id = document.getElementById("user_id").value;
                        var new_payment_url = CREATE_PAYMENT_URL+amount+'/'+user_id;

                        return paypal.request.post(new_payment_url).then(function(data) {
                            return data.paymentID;
                        });
                    },

                    onAuthorize: function(data) {
                        var amount = document.getElementById("amount").value;
                        var user_id = document.getElementById("user_id").value;
                        var new_payment_url = EXECUTE_PAYMENT_URL+amount+'/'+user_id;

                        return paypal.request.post(new_payment_url, {
                            paymentID: data.paymentID,
                            payerID:   data.payerID
                        }).then(function(res) {

                            console.log(res.success)
                            console.log('Hello')
                            // The payment is complete!
                            // You can now show a confirmation message to the customer
                            location.reload();
                        });
                    }

                }, '#paypal-button');
            </script>
        </form>
        </section>
      </div>
    </main>
{% endblock content %}